@inject IAutheticationService auth

<header>
    <a href="/">
        <img src="/logo.svg">
        <span>Epic Games</span>
    </a>
</header>

<nav class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul>
        <li>
            <NavLink class="home" href="" Match="NavLinkMatch.All">
                <span class="jam jam-home-f" aria-hidden="true"></span> 
                <span>Inicio</span>
            </NavLink>
        </li>
        <li>
            <NavLink class="store" href="store">
                <span class="jam jam-tag-f" aria-hidden="true"></span> 
                <span>Tienda</span>
            </NavLink>
        </li>
        <li>
            <NavLink class="library" href="library">
                <span class="jam jam-grid-f" aria-hidden="true"></span>
                <span>Biblioteca</span>
            </NavLink>
        </li>
        <li>
            <a class="settings" href="#" @onclick="Logout">
                <span class="jam jam-close-rectangle" aria-hidden="true"></span>
                <span>Salir</span>
            </a>
        </li>
         <li>
            <NavLink class="settings" href="settings">
                <span class="jam jam-cog-f" aria-hidden="true"></span>
                <span>Ajustes</span>
            </NavLink>
        </li>
    </ul>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void Logout()
    {
        auth.Logout();
    }
}
